<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Атлас</title>
</head>

<body>
<div th:replace="header"></div>

    <table th:each="seed : ${seeds}">
        <tr>
            <!--<th th:text="${seed.getSeedName()}"></th>-->
            <th th:text="${seed.getId()}"></th>
            <td><img th:src="@{'data:image/jpeg;base64,'+${seedPhotos.get(seed.getId())}}" alt="Фото семени"></td>
        </tr>
    </table>

<div th:replace="footer"></div>
</body>

</html>