<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Коллекция</title>
    <link href="../static/styles/header.css" th:href="@{/styles/header.css}" rel="stylesheet"/>
    <link href="../static/styles/editSeed.css" th:href="@{/styles/editSeed.css}" rel="stylesheet"/>
    <link href="../static/styles/footer.css" th:href="@{/styles/footer.css}" rel="stylesheet"/>
</head>

<body>
    <div class="navigation">
        <div class="name">
            <a th:href="@{/}">Банк семян Самарского университета</a>
        </div>
        <div class="buttons">
            <a th:href="@{/atlas}">Атлас</a>
            <a th:href="@{/collection}">Коллекция</a>
            <a th:href="@{/articles}">Статьи</a>
            <a th:href="@{/news}">Новости</a>
            <a th:href="@{/contacts}">Контакты</a>
        </div>
    </div>

    <form action="#"  th:action="@{/collection/edit/id={id}(id=${seedDto.getId()})}" th:object="${seedDto}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>Поле</th>
                <th>Значение</th>
                <th>Скрыть</th>
            </tr>
            <tr>
                <td>ID</td>
                <td><label>
                    <input type="text" th:field="*{id}" readonly />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Имя</td>
                <td><label>
                    <input type="text" th:field="*{seedName}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Семейство</td>
                <td><label>
                    <input type="text" th:field="*{family}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Род</td>
                <td><label>
                    <input type="text" th:field="*{genus}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Вид</td>
                <td><label>
                    <input type="text" th:field="*{specie}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Red List</td>
                <td><label>
                    <input type="text" th:field="*{redList}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Красная книга РФ</td>
                <td><label>
                    <input type="text" th:field="*{redBookRF}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Красная книга Самарской области</td>
                <td><label>
                    <input type="text" th:field="*{redBookSO}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Дата сбора</td>
                <td><label>
                    <input type="text" th:field="*{dateOfCollection}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Место сбора</td>
                <td><label>
                    <input type="text" th:field="*{placeOfCollection}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Вес 1000 семян</td>
                <td><label>
                    <input type="text" th:field="*{weightOf1000Seeds}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Количество семян</td>
                <td><label>
                    <input type="text" th:field="*{numberOfSeeds}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Выполненные семена</td>
                <td><label>
                    <input type="text" th:field="*{completedSeeds}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Всходимость семян</td>
                <td><label>
                    <input type="text" th:field="*{seedGermination}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Влажность семян</td>
                <td><label>
                    <input type="text" th:field="*{seedMoisture}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>GPS широта</td>
                <td><label>
                    <input type="text" th:field="*{GPSLatitude}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>GPS долгота</td>
                <td><label>
                    <input type="text" th:field="*{GPSLongitude}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>GPS высота</td>
                <td><label>
                    <input type="text" th:field="*{GPSAltitude}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Экотоп</td>
                <td><label>
                    <input type="text" th:field="*{ecotop}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Заселенность вредителями</td>
                <td><label>
                    <input type="text" th:field="*{pestInfestation}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Комментарий</td>
                <td><label>
                    <input type="text" th:field="*{comment}" />
                </label></td>
                <td><label>
                    <input type="checkbox" />
                </label></td>
            </tr>
            <!-- Изображения -->
            <tr>
                <td>Рентгенограмма</td>
                <td>
                    <div>
                        <img th:src="@{'data:image/jpeg;base64,' + ${xRay}}" th:attr="data-original-src=@{'data:image/jpeg;base64,' + ${xRay}}"
                             alt="Нет фотографии" id="xRayPreview" width="150" height="150"/>
                        <input type="file" name="xRay" onchange="previewImage(this, 'xRayPreview')" />
                        <label>Удалить фотографию
                            <input type="checkbox" name="deleteXRay"/>
                        </label>
                    </div>
                </td>
                <td><label>
                        <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Фото семян</td>
                <td>
                    <div>
                        <img th:src="@{'data:image/jpeg;base64,' + ${seed}}" th:attr="data-original-src=@{'data:image/jpeg;base64,' + ${seed}}"
                             alt="Нет фотографии" id="seedPreview" width="150" height="150"/>
                        <input type="file" name="seed" onchange="previewImage(this, 'seedPreview')" />
                        <label>Удалить фотографию
                            <input type="checkbox" name="deleteSeed"/>
                        </label>
                    </div>
                </td>
                <td><label>
                        <input type="checkbox" />
                </label></td>
            </tr>
            <tr>
                <td>Экотоп</td>
                <td>
                    <div>
                        <img th:src="@{'data:image/jpeg;base64,' + ${ecotopPhoto}}" th:attr="data-original-src=@{'data:image/jpeg;base64,' + ${ecotopPhoto}}"
                             alt="Нет фотографии" id="ecotopPreview" width="150" height="150"/>
                        <input type="file" name="ecotopPhoto" onchange="previewImage(this, 'ecotopPreview')" />
                        <label> Удалить фотографию
                            <input type="checkbox" name="deleteEcotop"/>
                        </label>
                    </div>
                </td>
                <td><label>
                        <input type="checkbox" />
                </label></td>
            </tr>
        </table>

        <div>
            <button type="submit" name="action" value="save"
                    onclick="return confirm('Вы уверены, что хотите применить изменения?')">Сохранить изменения</button>
            <button type="submit" name="action" value="delete"
                    onclick="return confirm('Вы уверены, что хотите удалить?')">Удалить</button>
        </div>
    </form>

    <footer th:fragment="footer">
        <div class="footer-margin"></div>
    </footer>

    <script>
        function previewImage(input, previewId) {
            const preview = document.getElementById(previewId);
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = preview.getAttribute('data-original-src');
            }
        }
    </script>
</body>

</html>