<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Коллекция</title>
    <link href="../static/styles/editSeed.css" th:href="@{/styles/editSeed.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="header"></div>

<form action="#"  th:action="@{/collection/edit/id={id}(id=${seedDto.getId()})}" th:object="${seedDto}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>Поле</th>
            <th>Значение</th>
            <th>Скрыть</th>
        </tr>
        <tr>
            <td>ID</td>
            <td><label>
                <input type="text" th:field="*{id}" readonly />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['id']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Имя</td>
            <td><label>
                <input type="text" th:field="*{seedName}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['seedName']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Семейство</td>
            <td><label>
                <input type="text" th:field="*{family}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['family']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Род</td>
            <td><label>
                <input type="text" th:field="*{genus}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['genus']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Вид</td>
            <td><label>
                <input type="text" th:field="*{specie}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['specie']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Red List</td>
            <td><label>
                <input type="text" th:field="*{redList}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['redList']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Красная книга РФ</td>
            <td><label>
                <input type="text" th:field="*{redBookRF}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['redBookRF']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Красная книга Самарской области</td>
            <td><label>
                <input type="text" th:field="*{redBookSO}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['redBookSO']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Дата сбора</td>
            <td><label>
                <input type="text" th:field="*{dateOfCollection}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['dateOfCollection']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Место сбора</td>
            <td><label>
                <input type="text" th:field="*{placeOfCollection}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['placeOfCollection']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Вес 1000 семян</td>
            <td><label>
                <input type="text" th:field="*{weightOf1000Seeds}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['weightOf1000Seeds']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Количество семян</td>
            <td><label>
                <input type="text" th:field="*{numberOfSeeds}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['numberOfSeeds']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Выполненные семена</td>
            <td><label>
                <input type="text" th:field="*{completedSeeds}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['completedSeeds']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Всходимость семян</td>
            <td><label>
                <input type="text" th:field="*{seedGermination}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['seedGermination']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Влажность семян</td>
            <td><label>
                <input type="text" th:field="*{seedMoisture}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['seedMoisture']}"/>
            </label></td>
        </tr>
        <tr>
            <td>GPS широта</td>
            <td><label>
                <input type="text" th:field="*{GPSLatitude}" />
            </label></td>
            <td rowspan="3"><label>
                <input type="checkbox" th:field="*{fields['GPS']}"/>
            </label></td>
        </tr>
        <tr>
            <td>GPS долгота</td>
            <td><label>
                <input type="text" th:field="*{GPSLongitude}" />
            </label></td>
        </tr>
        <tr>
            <td>GPS высота</td>
            <td><label>
                <input type="text" th:field="*{GPSAltitude}" />
            </label></td>
        </tr>
        <tr>
            <td>Экотоп</td>
            <td><label>
                <input type="text" th:field="*{ecotop}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['ecotop']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Заселенность вредителями</td>
            <td><label>
                <input type="text" th:field="*{pestInfestation}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['pestInfestation']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Комментарий</td>
            <td><label>
                <input type="text" th:field="*{comment}" />
            </label></td>
            <td><label>
                <input type="checkbox" th:field="*{fields['comment']}"/>
            </label></td>
        </tr>
        <!-- Изображения -->
        <tr>
            <td>Рентгенограмма</td>
            <td>
                <div>
                    <img th:src="@{'data:image/jpeg;base64,' + ${xRay}}" th:attr="data-original-src=@{'data:image/jpeg;base64,' + ${xRay}}"
                         alt="Нет фотографии" id="xRayPreview" width="150" height="150"/>
                    <input type="file" name="xRay" onchange="previewImage(this, 'xRayPreview')" />
                    <label>Удалить фотографию
                        <input type="checkbox" name="deleteXRay"/>
                    </label>
                </div>
            </td>
            <td><label>
                    <input type="checkbox" th:field="*{fields['photoXRay']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Фото семян</td>
            <td>
                <div>
                    <img th:src="@{'data:image/jpeg;base64,' + ${seed}}" th:attr="data-original-src=@{'data:image/jpeg;base64,' + ${seed}}"
                         alt="Нет фотографии" id="seedPreview" width="150" height="150"/>
                    <input type="file" name="seed" onchange="previewImage(this, 'seedPreview')" />
                    <label>Удалить фотографию
                        <input type="checkbox" name="deleteSeed"/>
                    </label>
                </div>
            </td>
            <td><label>
                    <input type="checkbox" th:field="*{fields['photoSeed']}"/>
            </label></td>
        </tr>
        <tr>
            <td>Экотоп</td>
            <td>
                <div>
                    <img th:src="@{'data:image/jpeg;base64,' + ${ecotopPhoto}}" th:attr="data-original-src=@{'data:image/jpeg;base64,' + ${ecotopPhoto}}"
                         alt="Нет фотографии" id="ecotopPreview" width="150" height="150"/>
                    <input type="file" name="ecotopPhoto" onchange="previewImage(this, 'ecotopPreview')" />
                    <label> Удалить фотографию
                        <input type="checkbox" name="deleteEcotop"/>
                    </label>
                </div>
            </td>
            <td><label>
                    <input type="checkbox" th:field="*{fields['photoEcotop']}"/>
            </label></td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Скрыть из поиска
                    <input type="checkbox" th:field="*{isHidden}">
                </label>
            </td>
        </tr>
    </table>

    <div>
        <button type="submit" name="action" value="save"
                onclick="return confirm('Вы уверены, что хотите применить изменения?')">Сохранить изменения</button>
        <button type="submit" name="action" value="delete"
                onclick="return confirm('Вы уверены, что хотите удалить?')">Удалить</button>
    </div>
</form>

<div th:replace="footer"></div>

<script th:src="@{/scripts/editSeed.js}"></script>
</body>

</html>