<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Банк семян</title>
    <link href="../static/styles/home.css" th:href="@{/styles/home.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="header"></div>

<div class="content">
    <div class="image-container">
        <img src="../static/img/home.jpg" th:src="@{/img/home.jpg}" alt="HOME PHOTO">
    </div>
    <div class="text-container">
        <p>Генетический банк семян редких и ценных растений создается на базе научно-исследовательской лаборатории
            "Инновационные методы изучения и сохранения биоразнообразия" Самарского университета им. Королёва. Фонд
            семян формируется из растений, входящих в живые коллекции Ботанического сада. Фонд используется для
            развития сада, а также обмена с другими подобными научными учреждениями России и мира. Преподаватели и
            студенты кафедры экологии, ботаники и охраны природы ежегодно пополняют его, проводя сбор семян в полевых
            экспедициях, в местах произрастания редких растений в природе. Так что основа для формирования банка семян
            растений, произрастающих на территории Самарской области, в первую очередь краснокнижных и редких, уже
            есть.</p>
    </div>
</div>

<div th:replace="footer"></div>
</body>

</html>