<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Коллекция</title>
    <link href="../static/styles/newSeed.css" th:href="@{/styles/newSeed.css}" rel="stylesheet"/>
    <link href="../static/styles/footer.css" th:href="@{/styles/footer.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="header"></div>

<form action="#" th:action="@{/collection/add}" method="post">
    <label>Введите код таксона:
        <input type="number" name="taxon" placeholder="Введите ID" min="1" max="9999" th:required="true"/>
    </label>

    <label>Введите код места сбора:
        <input type="number" name="place" placeholder="Введите код" min="1" max="9999" th:required="true"/>
    </label>

    <label>Введите год сбора:
        <input type="number" name="year" placeholder="Введите номер" min="1" max="9999" th:required="true"/>
    </label>

    <label>Введите код делектуса:
        <input type="number" name="delectus" placeholder="Введите SERIES" min="1" max="9999" th:required="true"/>
    </label>

    <input type="submit" value="Создать" />
</form>

<div th:replace="footer"></div>
</body>

</html>