<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Коллекция</title>
    <link href="../static/styles/seed.css" th:href="@{/styles/seed.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="header"></div>

<div class="seedCard">
    <div class="full-information">
        <table class="card">
            <tr>
                <th>ID</th>
                <td th:text="${seed.getId()}"></td>
            </tr>
            <tr>
                <th>Название</th>
                <td th:text="${seed.getSeedName()}"></td>
            </tr>
            <tr>
                <th>Семейство</th>
                <td th:text="${seed.getFamily()}"></td>
            </tr>
            <tr>
                <th>Род</th>
                <td th:text="${seed.getGenus()}"></td>
            </tr>
            <tr>
                <th>Вид</th>
                <td th:text="${seed.getSpecie()}"></td>
            </tr>
            <tr>
                <th>Red List</th>
                <td th:text="${seed.getRedList()}"></td>
            </tr>
            <tr>
                <th>Красная книга РФ</th>
                <td th:text="${seed.getRedBookRF()}"></td>
            </tr>
            <tr>
                <th>Красная книга Самарской области</th>
                <td th:text="${seed.getRedBookSO()}"></td>
            </tr>
            <tr>
                <th>Дата сбора</th>
                <td th:text="${seed.getDateOfCollection()}"></td>
            </tr>
            <tr>
                <th>Место сбора</th>
                <td th:text="${seed.getPlaceOfCollection()}"></td>
            </tr>
            <tr>
                <th>Масса 1000 семян, г</th>
                <td th:text="${seed.getWeightOf1000Seeds()}"></td>
            </tr>
            <tr>
                <th>Количество семян, шт</th>
                <td th:text="${seed.getNumberOfSeeds()}"></td>
            </tr>
            <tr>
                <th>Выполненные семена, %</th>
                <td th:text="${seed.getCompletedSeeds()}"></td>
            </tr>
            <tr>
                <th>Всхожесть семян, %</th>
                <td th:text="${seed.getSeedGermination()}"></td>
            </tr>
            <tr>
                <th>Влажность семян, %</th>
                <td th:text="${seed.getSeedMoisture()}"></td>
            </tr>
            <tr>
                <th>GPS, N, E, H</th>
                <td th:text="${seed.getGPSLatitude()} + '/' + ${seed.getGPSLongitude()} + '/' + ${seed.getGPSAltitude()}"></td>
            </tr>
            <tr>
                <th>"Экотоп"</th>
                <td th:text="${seed.getEcotop()}"></td>
            </tr>
            <tr>
                <th>Заселенность вредителями, %</th>
                <td th:text="${seed.getPestInfestation()}"></td>
            </tr>
            <tr>
                <th>Комментарий</th>
                <td th:text="${seed.getComment()}"></td>
            </tr>
        </table>
        <div class="photos">
            <div class="photo-wrapper">
                <p class="photo-caption">Рентгенограмма</p>
                <img th:src="@{'data:image/jpeg;base64,'+${xray}}" alt="Нет фотографии" class="photo"/>
            </div>
            <div class="photo-wrapper">
                <p class="photo-caption">Фото семян</p>
                <img th:src="@{'data:image/jpeg;base64,'+${seedPh}}" alt="Нет фотографии" class="photo">
            </div>
            <div class="photo-wrapper">
                <p class="photo-caption">Экотоп</p>
                <img th:src="@{'data:image/jpeg;base64,'+${ecotop}}" alt="Нет фотографии" class="photo">
            </div>
        </div>
    </div>
    <div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
        <a class="edit-button" th:href="@{/collection/edit/id={id}(id=${seed.getId()})}">Редактировать</a>
    </div>
</div>

<div th:replace="footer"></div>
</body>

</html>