.content {
    display: flex;
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 100px 150px; /* Увеличиваем отступы слева и справа */
    text-align: justify;
}

.image-container {
    flex: 1;
    margin-right: 50px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.text-container {
    flex: 1;
    line-height: 1.6;
}

.text-container p {
    font-family: 'Georgia', serif;
    font-size: 1.1em;
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}