body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main {
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.greeting > div:last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
}

/* Styling for the greeting message */
.greeting {
    position: relative;
    padding-right: 150px; /* Ensure there is space for the logout button */
}

.greeting h1 {
    color: #333;
}

.main a {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.1s;
}

.main a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

.newUserForm {
    background: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
}

.newUserForm label {
    margin-top: 10px;
    display: block;
}

.newUserForm input[type="text"],
.newUserForm input[type="password"] {
    width: 40%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.newUserForm button {
    background-color: #06c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.newUserForm button:hover {
    background-color: #0056b3;
}